version: 2.1

steps: &steps
    working_directory: /kubel
    steps:
      - run: apt update && apt install -y git ssh make
      - checkout
      - run:
          name: Tests
          command: |
            ./run-ci.sh

      - run:
          name: Is this thing on
          command: |
            ls .

jobs:
    emacs-27:
      docker:
        - image: silex/emacs:27.1
      <<: *steps
    emacs-26:
      docker:
        - image: silex/emacs:26.3
      <<: *steps
    emacs-25:
      docker:
        - image: silex/emacs:25.3
      <<: *steps

workflows:
    version: 2
    build:
      jobs:
        - emacs-25
        - emacs-26
        - emacs-27